<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:stage-freedom.branchbeta.link</string>
		<string>stage-freedom.branchbeta.link</string>
		<string>applinks:stage-freedom-alternate.branchbeta.link</string>
		<string>stage-freedom-alternate.branchbeta.link</string>
		<string>applinks:stage-freedom.test.branchbeta.link</string>
		<string>stage-freedom.test.branchbeta.link</string>
		<string>applinks:stage-ac-sandbox.branchbeta.link</string>
		<string>stage-ac-sandbox.test.branchbeta.link</string>
		<string>applinks:stage-ac-sandbox-alternate.branchbeta.link</string>
		<string>stage-ac-sandbox-alternate.branchbeta.link</string>
		<string>applinks:stage-ac-sandbox.test.branchbeta.link</string>
		<string>stage-ac-sandbox.test.branchbeta.link</string>
		<string>applinks:prod-freedom.app.link</string>
		<string>prod-freedom.app.link</string>
		<string>applinks:prod-freedom.test.app.link</string>
		<string>prod-freedom.test.app.link</string>
		<string>applinks:prod-freedom-prod-alternate.app.link</string>
		<string>prod-freedom-prod-alternate.app.link</string>
		<string>applinks:prod-freedom.app.link</string>
		<string>applinks:prod-ac-sandbox.app.link</string>
		<string>prod-ac-sandbox.app.link</string>
		<string>applinks:prod-ac-sandbox-alternate.app.link</string>
		<string>prod-ac-sandbox-alternate.app.link</string>
		<string>applinks:prod-ac-sandbox-alternate.app.link</string>
		<string>prod-ac-sandbox.test.app.link</string>
		<string>applinks:allergics.org</string>
		<string>linksimulator.branchcustom.xyz</string>
		<string>applinks:linksimulator.branchcustom.xyz</string>
	</array>
</dict>
</plist>
