<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.branch.link-simulator</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branchlinksimulator</string>
			</array>
		</dict>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_hshD4wiPK2sSxfkZqkH30ggmyBfmGmD7</string>
		<key>test</key>
		<string>key_test_cFaqWupQV4BTCgpXFkQY1jgiAFggSdPl</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>prod-freedom.app.link</string>
		<string>prod-freedom.branchcustom.xyz</string>
		<string>stage-freedom.branchcustom.xyz</string>
		<string>stage-freedom.branchbeta.link</string>
		<string>skhsg.branchbeta.link</string>
		<string>r3dfg.app.link</string>
		<string>hoplink.branchcustom.xyz</string>
		<string>hop.link</string>
	</array>
</dict>
</plist>
