<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.branch.link-simulator</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branchlinksimulator</string>
			</array>
		</dict>
	</array>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_hshD4wiPK2sSxfkZqkH30ggmyBfmGmD7</string>
		<key>test</key>
		<string>key_test_cFaqWupQV4BTCgpXFkQY1jgiAFggSdPl</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>allergics.org</string>
		<string>branchlinksimulator.app.link</string>
		<string>branchlinksimulator-alternate.app.link</string>
		<string>branchlinksimulator.test.app.link</string>
		<string>ac-sandbox.branchbeta.link</string>
		<string>ac-sandbox-alternate.branchbeta.link</string>
		<string>ac-sandbox.test.branchbeta.link</string>
		<string>freedom-external-services.branchbeta.link</string>
		<string>freedom-external-services-alternate.branchbeta.link</string>
		<string>freedom-external-services.test.branchbeta.link</string>
		<string>freedom-prod.app.link</string>
		<string>freedom-prod-alternate.app.link</string>
		<string>freedom-prod.test.app.link</string>
	</array>
</dict>
</plist>
